* {
	box-sizing: border-box;
}

body {
	background: #a73737; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #a73737 , #7a2828); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #a73737 , #7a2828); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
	color: white;
	font-family: "Lora", serif;
}

h1 {
	font-size: 2.75em;
}

h1 > span {
	text-transform: uppercase;
}


button {
	display: block;
	margin: auto;

	border: 2px solid rgba(0, 0, 0, .3);
	border-radius: 50%;
	background: #FFF;
	padding: 35px 30px;

	color: black;
	font-weight: bold;
	cursor: pointer;
	outline: none;

	transition: background .3s .2s, color .3s, border .3s;
}

button:hover {
	color: white;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
}

.container {
	padding: 1em;
	text-align: center;
}

.time {
	display: inline-block;
	padding: 15px 10%;
}

.time:first-child {
	display: block;
	margin-bottom: -50px;
}

.outer {
	margin-bottom: 25px;
}

.outer > span {
	font-size: 0.8em;
}

.time p {
	display: inline-block;
	font-size: 1.25em;
	padding: 0 8px;
}

.plus,
.minus {
	font-size: 1.125em;
	cursor: pointer;
}

#clockDisplay #display {
	font-size: 3em;
	font-family: 'Press Start 2P', cursive;
}

@media (min-width: 680px) {
	h1 {
		font-size: 3.25em;
	}

	h3 {
		font-size: 2em;
	}

	.outer > span {
		font-size: 1em;
	}

	.time p,
	.minus,
	.plus {
		font-size: 1.75em;
	}

}

@media (min-width: 970px) {
	h1 {
		font-size: 4em;
	}

	h3 {
		font-size: 2.25em;
	}

	.outer > span {
		font-size: 1.25em;
	}

	.time p,
	.minus,
	.plus {
		font-size: 2em;
	}
}